@import '~styles/_vars.scss';
@import '../../node_modules/vue-material/dist/vue-material.min.css';
@import '../../node_modules/vue-material/dist/theme/default-dark.css';

body {
    background-color: $background-primary;
    color: $foreground-primary;
    font-family: 'Roboto', monospace;
}